.result {
  border: 1px solid #ddd;
  height: 100%;
  text-align: center;

  overflow: scroll;
}

.btn-row {
  margin-bottom: 2vh;
}

.home-center {
  margin: 2vh 0 11vh 0;
  width: 80%;
}

.editor-area {
  display:flex;
  flex-direction: column;
  gap: 12px;
  height: 600px;
}

.editor {
  flex-grow: 1;
  border: 1px solid #ddd;
}

.cm-editor.cm-focused {
  outline: none !important;
}
